* {
text-align:center;
margin:0;
padding:0;
}

.parent {
    background-color:green;
    min-height:100px;
    padding:2px;
    display:flex;
}

.child {
    min-height:50px;
    min-width: 50px;
}

.red {
    background-color:red;
}
.yellow {
    background-color:yellow;
}

.example1 {
    justify-content:space-between;
    align-items:center;
}